{
        "LbRtdIf-list": [
          {
            "descr": "{{vtep_loopback_desc}}",
            "id": "{{vtep_loopback_id}}"
          },
          {
            "descr": "{{underlay_loopback_desc}}",
            "id": "{{underlay_loopback_id}}"
          }
        ]
      }