{
      "epId-items": {
        "Ep-list": [
          {
            "adminSt": "enabled",
            "anycastIntf": "unspecified",
            "epId": "1",
            "holdDownTime": "30",
            "hostReach": "bgp",
            "sourceInterface": "vtep_loopback_id"
          }
        ]
      }
}