{
  "if-items": {
    "If-list": [
      {
        "id": "{{vtep_loopback_id}}",
        "pimSparseMode": "true"
      },
      {
        "id": "{{leaf_uplink_1}}",
        "pimSparseMode": "true"
      },
      {
        "id": "{{leaf_uplink_2}}",
        "pimSparseMode": "true"
      },
      {
        "id": "{{underlay_loopback_id}}",
        "pimSparseMode": "true"
      }
    ]
  },
  "ssm-items": {
    "range-items": {
      "grpList": "{{ssm_range}}"
    }
  },
  "staticrp-items": {
    "rp-items": {
      "StaticRP-list": [
        {
          "addr": "{{pimrp_loopback_ip}}",
          "rpgrplist-items": {
            "RPGrpList-list": [
              {
                "bidir": "false",
                "grpListName": "{{group_list}}",
                "override": "false"
              }
            ]
          }
        }
      ]
    }
  }
}