{
  "bgp-items": {
    "adminSt": "enabled"
  },
  "nvo-items": {
    "adminSt": "enabled"
  },
  "evpn-items": {
    "adminSt": "enabled"
  },
  "ospf-items": {
    "adminSt": "enabled"
  },
  "pim-items": {
    "adminSt": "enabled"
  },
  "hmm-items": {
    "adminSt": "enabled"
  },
  "ifvlan-items": {
    "adminSt": "enabled"
  },
  "vnsegment-items": {
    "adminSt": "enabled"
  }
}