{
        "LbRtdIf-list": [
          {
            "descr": "{{pimrp_loopback_desc}}",
            "id": "{{pimrp_loopback_id}}"
          },
          {
            "descr": "{{underlay_loopback_desc}}",
            "id": "{{underlay_loopback_id}}"
          }
        ]
      }